{% extends 'base.html' %}

{% block content %}
    <div class="Catalogue_box">
        <h1 >Nepali Books</h1>
        <div class="card">
            <div class="image">
                <img src="./static/books/EngNepBooks/image1.jpg">
            </div>
            <div class="title">
                <h1>Parijat</h1>
            </div>
            <div class="des">
                <p>NRP.999</p>
                <button>Buy it</button>
            </div>
        </div>
        
        <div class="card">
            <div class="image">
                <img src="./static/books/EngNepBooks/images2.jpeg">
            </div>
            <div class="title">
                <h1>Narayan Wagle</h1>
            </div>
              
          
            <div class="des">
                <p>NRP.859</p>
                <button>Buy it</button>
            </div>
        </div>
        
        <div class="card">
            <div class="image">
                <img src="./static/books/EngNepBooks/images3.jpeg">
            </div>
            <div class="title">
                <h1>Buddhisagar</h1>
            </div>
            <div class="des">
                <p>NPR.799</p>
                <button>Buy it</button>
            </div>
        </div>
        
        <div class="card">
            <div class="image">
                <img src="./static/books/EngNepBooks/images4.jpg">
            </div>
            <div class="title">
                <h1>Laxmi Prashad Devkota</h1>
            </div>
            <div class="des">
                <p>NRP.555</p>
                <button>Buy it</button>
            </div>
        </div>
        
        <div class="card">
            <div class="image">
                <img src="./static/books/EngNepBooks/images5.jpg">
            </div>
            <div class="title">
                <h1>Subin Bhatrai</h1>
            </div>
            <div class="des">
                <p>NRP.999</p>
                <button>Buy it</button>
            </div>
        </div>
        
        <div class="card">
            <div class="image">
                <img src="./static/books/EngNepBooks/images6.jpg">
            </div>
            <div class="title">
                <h1>BP koirala</h1>
            </div>
            <div class="des">
                <p>NRP 1000</p>
                <button>Buy it</button>
            </div>
        </div>
    </div>

    {% endblock %}