{% extends 'base.html' %}

{% block content %}

<form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname"><br>
    <label for="e-mail">E-mail:</label><br> 
    <input type="text" id="e-mail" name="e-mail"><br>

    <a href="https://www.podia.com/terms-and-conditions-generator"><strong>Terms and conditions</strong></a><br>
    <p> Please Read all the terms and conditions before checking the box </p>

</form>
  
{% endblock %}