<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./static/home.css">
    <link rel="stylesheet" href="./static/footer.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poor+Story&family=Roboto+Mono&family=Ubuntu&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap" rel="stylesheet">
    <link 
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"
  />

</head>
<body>
    <nav>
        <h1 class="title">{{title}}</h1>
        <ol class="nav_list">
            <li><a href="http://127.0.0.1:8000/"><b>HOME</b></a></li>
            <li><a href="/catalogue"><b>CATALOGUE</b></a></li>
            <li><a href="/login"><b>Login</b></a></li>
        </ol>
    </nav>



    